.projectsComp {
  margin: 0 6rem;
  text-align: left;
  background: var(--color-latte-light);
  box-shadow: 0px 2px 10px black;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}
.projectsComp:hover {
  animation: coloring 1s ease-in;
}
p.inline {
  display: inline;
}
p.project-comments {
  margin: 1rem;
  background: var(--color-chai);
  padding: 0.5rem;
  border-radius: 1%;
}
.projectsComp li {
  margin: 1rem 0;
  list-style: circle;
}
.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.plusMinus {
  width: 2rem;
  cursor: pointer;
}
.project-info-link {
  animation: coloring 3s ease 0s 1;
  text-align: center;
  width: 6rem;
  padding: 4px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px #919191;
}
@keyframes coloring {
  0% {
    background: rgb(255, 255, 255);
  }
  50% {
    background: rgb(172, 172, 172);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}
