.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-column-gap: 0rem;
  padding-bottom: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem;
}
section#projectsSection {
  background: #000000a6;
  padding: 1rem;
}
