.list {
  margin: 1rem;
  text-align: left;
  background: var(--color-latte-light);
  box-shadow: 0px 5px 10px black;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.list li {
  margin: 1rem 0;
  list-style: circle;
}
