.skills {
  display: inline-flex;
}
section#skillsSection {
  background: #0000004a;
  padding: 2rem 0rem;
}
#skillsSection h1 {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background: var(--color-latte-light);
  box-shadow: 0px 5px 10px #000;
  width: 30%;
}
