@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap');

:root {
  --color-white-69: #ffffff69;
  --color-latte-light: #ffffff;
  --color-sky-light: #f0f8ff;
  --coloe-sky-dark: #daf0ff;
  --color-latte-dark: #7a7a7a;
  --color-coffee: #000000;
  --color-coffee-light: #313131;
  --color-chai: #4d4d4d;
  --font-family: 'Ysabeau Infant', sans-serif;
  --font-weight: 600;
  --font-size: 1.1rem;
}
html {
  font-size: 16px;
  /* font-weight: var(--font-weight); */
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/bw2.jpeg');
  background-size: contain;
  font-family: var(--font-family);
}

code {
  font-family: var(--font-family);
}
a:hover {
  color: var(--color-coffee-light);
}
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--color-coffee);
}
ul {
  list-style: none;
}
