.workComp {
  margin: 1rem;
  text-align: left;
  background: var(--color-latte-light);
  box-shadow: 0px 5px 10px black;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
p.inline {
  display: inline;
}
p.job-comments {
  margin: 1rem;
  background: var(--color-chai);
  padding: 0.5rem;
  border-radius: 1%;
}
.workComp li {
  margin: 1rem 0;
  list-style: circle;
}
