.workComp {
  margin: 0rem 6rem;
  text-align: left;
  background: var(--color-latte-light);
  box-shadow: 0px 5px 10px black;
  padding: 2rem;
  width: 36%;
}
.workComp.alignRight {
  margin-left: auto;
}
img.workStairs {
  width: 20%;
  margin: 2rem auto;
}
img.workStairs.alignRight {
  margin-left: -5rem;
}
img.workStairs.alignLeft {
  margin-right: -25rem;
}
.job-info.inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.job-info.inline p,
.job-info.inline span {
  margin: 0 5px;
  padding: 0;
}
img.calendarImg,
img.mapImg {
  width: 1.5rem;
}
p.inline {
  display: inline;
}
p.job-comments {
  margin: 1rem;
  background: var(--color-chai);
  padding: 0.5rem;
  border-radius: 1%;
}
.workComp li {
  margin: 1rem 0;
  list-style: circle;
}
.work h3 {
  margin: 0;
}
.workCompContainer {
  display: flex;
}
